<html>

<head>
    <title>HOLO World!</title>
</head>

<body>
    <style>
        #number {
            width: 8em;
        }

    </style>
    <form action="/visualizer" method="post">
        Select Model:
        <select name="model_file">
            {% for model in model_list %}
            <option value="{{model}}">{{model}}</option>
            {% endfor %}
        </select><br>
        Width: <input id="number" type="number" name="width_mm" min="100" max="2000" value="500" step="50"><br>
        Height: <input id="number" type="number" name="height_mm" min="100" max="2000" value="500" step="50"><br>
        Stroke Density: <input id="number" type="number" name="stroke_density" min="5" max="100" value="20"><br>
        Light Source Start (x, y):
        <input id="number" type="number" name="light_source_start_x" value="150" step="10">
        <input id="number" type="number" name="light_source_start_y" value="-100" step="10">
        <br>
        Light Source End (x, y):
        <input id="number" type="number" name="light_source_end_x" value="350" step="10">
        <input id="number" type="number" name="light_source_end_y" value="-10" step="10">
        <br>
        Animation Duration (s): <input id="number" type="number" name="duration_s" step="0.1" value="2.0" min="0.1"
            max="10.0"><br>
        <button type="submit">Visualize!</button>
    </form>
</body>

</html>
